.last{
    display: flex;
    justify-content: center;
    background:none;
    width: auto;
}
.div5 .equalbtn{
    background-color: whitesmoke;
    color: gray;
}
.last h1{
    color:black;
    opacity: 50px;
}

.div_1{
    display: flex;
    flex-direction: column;
    align-self: center;
    

height: 500px;
width: 80%;
border-radius: 5px;
background-image: url(https://images.unsplash.com/photo-1591804227855-d6fe0b648d0e?ixlib=rb-1.2.1&w=1000&q=80);
align-items: center;

}
.div_1 div{
    margin-bottom: 8px;
}
.div_1 input{
    width: 244px;
}
.div_1 button{
    border: none;
    border-radius: 10px;
    box-shadow:2px 7px 8px black;
}
.div1 button{
    width: 60px;
}.div2 button{
    width: 60px;
}.div3 button{
    width: 60px;
}
.div4 button{
    width: 60px;
}

.div_2 button{
    width: 60px;
}
.div_3 button{
    width: 82px;
}
.div_4 button{
    width: 82px;
}
.div0 button{
    width: 252px;
}
.div_1 button{
 background-color:gray;
 color:whitesmoke;
}

.div5 button{
    width: 60px;
}
.div1 button{
    height:25px;
}
.div1 .btn1{
    font-size: 10px;
    
}
.div5 .btn2{
    font-size: 12px;
    
}
.lst_btn{
    width: 240px;
    background-color: white;
    color: grey;
}
.div_1 button:hover{
    cursor: grab;
color: gray;
background-color: whitesmoke;
}
.div5 .equalbtn:hover{
    background-color:gray;
    color: whitesmoke;
    font-weight: 900;
}


.div6 button{
    background-color: red;

}
.div0 button{
    background-color: red;
    
}

.div6 button:hover{
    color: red;
}

.div0 button:hover{
    color:red;
}
.div_4 button{
    background-color: seagreen;
}

.div_3 button{
    background-color: seagreen;
}
.div_1 .nmbrs{
    font-weight: 600;
}

.div_3 button:hover{
    color: seagreen;
}

.div_4 button:hover{
    color: seagreen;
}
.div_1 .btnclr{
    background-color: rgb(122, 122, 199);
}
.div_1 .btnclr:hover{
    color: rgb(122, 122, 199);
}





.div_1 .others{
    background-color: firebrick;
}
.div_1 .fact:hover{
color: orange;
} 
.div_1 .fact{
    background-color: orange;
} 
.div_1 .others:hover{
color: firebrick;
}




















































.db1 {
    background-color:gray;
    color:whitesmoke;
    text-decoration: none;
    display: flex;
    box-shadow:2px 7px 8px black;
    width: 250px;
 border-radius: 18px;
    
    
    height: 20px;
    justify-content: space-around;
  }
  
  
.dd1 {
      text-align: center;
       display: inline-block;
       display: flex;
      
       width: 240px;
    }
  


  

  
  

  
  
.dd1:hover .db1{      
    background-color:whitesmoke;
    color: gray;
    box-shadow:2px 7px 8px black;
}










.db2 {
    background-color:gray;
    color:whitesmoke;
    text-decoration: none;
    display: flex;
    
    width: 250px;
 border-radius: 18px;
    
 box-shadow:2px 7px 8px black;
    height: 20px;
    justify-content: space-around;
  }
  
  
.dd2 {
      text-align: center;
       display: inline-block;
       display: flex;
      
       width: 240px;
    }
  


  

  
  

  
  
.dd2:hover .db2{      
    background-color:whitesmoke;
    color: gray;
    box-shadow:2px 7px 8px black;
}